*.3ddose
*.3ddose.gz
*.F
*.egsdat
*.egsdat.gz
*.egslog
*.egslst
*.egsphant
*.errors
*.mederr
*.mglst
*.mortlst
*.o
*.pinit
*.pyc
*.testv
*.volcor
*.volcor.gz
*.voxels
*.voxvol
*.xvgr
/*.density
/*.egsinp
/*.geom
/*.png
/*.ramp
/*csv
docs/egs_brachy.doxwarn
fort.*
mortjob.mortran
tmp*

# auto generated markdown and latex files
_docs/geom.md
_docs/media.md
_docs/spectra.md
_docs/transport.md
_docs/tests.md
_docs/*doxwarn
docs/latex/

